<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Add Coin</title>
</head>
<body>
    <form method="POST">
        <div class="add-coin-container">
            <div class="form-control">
                <label for="name">Coin Name</label>
                <input type="string" name="name" id="name">
            </div>
            <div class="form-control">
                <label for="abbreviation">Abberviation</label>
                <input type="string" name="abbreviation" id="abbreviation">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="float" name="price" id="price">
            </div>
            <div class="form-control">
                <label for="marketcap">Market Cap</label>
                <input type="string" name="marketCap" id="marketCap">
            </div>
            <div class="form-control">
                <label for="dailyVolume">Daily Volume</label>
                <input type="string" name="dailyVolume" id="dailyVolume">
            </div>
            <div class="form-control">
                <button class="btn" type="submit">Submit</button>
            </div>
        </div>
    </form>

</body>
</html>