<div class="content-wrap">
<section class="footer">
        <div class="site-map">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">News Letter</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Admin</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        <hr>
        <div class="site-map-logo">
            <p>Crypt Keeper &copy; 2020</p>
        </div>
        </div>
        <div class="site-map">
            <h4>Address</h4>
            <ul>
                <li>1234 Electric Avenue</li>
                <li>#510</li>
                <li>Atlanta, GA 30319</li>
            </ul>
            <ul>
                <li><hr></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li></li>
            </ul>
        </div>
        <div class="social-media">
            <ul>
                <li><a href="#"><i class="fab fa-facebook fa-lg"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square fa-lg"></i></a></li>
                <li><a href="#"><i class="fab fa-github fa-lg"></i></a></li>
                <li><a href="#"><i class="fab fa-skype fa-lg"></i></a></li>
            </ul>
        </div>
    </section>
</div>