
    <%- include('./includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/auth.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
    
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <div class="not-found">
        <h1>404: Page Not Found!</h1>
        <h2>Ain't nothin' here, partner. </h2>
    </div>
    
    
    <%- include('./includes/footer.ejs') %> 
    
</body>

<script src="/js/index.js"></script>

</html>