
    <%- include('./includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/auth.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
    
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <h1>500 Error: Something Went Wrong!</h1>
    <h2>Sorry for the inconvenience, we're working on the issue!</h2>
    
</body>
</html>