* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #070a0f;
    color: white;
    font-family: 'Varela', sans-serif;
    margin-top: auto;
    position: relative;
    height: 100%;
    

}

.display {
    height: 100%;
    min-height: 100vh;
    /* margin-bottom: 5%; */
    position: relative;
    
}

.nav{
    height: 8vh;
    width: 100%;
    max-width: 100%;
    background-color: black;
    color: white;
    margin-left: auto;
    /* margin-right: 15%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    z-index: 99;
    position: fixed;
    top: 0%;
    left: 0%;
    

}

.nav-content {
    margin-right: 5%;
    /* margin-left: 5%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: white; */
}

.nav-prices {
    margin-left: 10%;
    font-size: .7rem;
    color: #2dc28e;
    /* background-color: yellow;
    width: 90%; */
    
}

.nav-prices li{
    font-size: .9rem;
    color: white;
}

#logo {
    /* font-family: 'Mitr', sans-serif; */
    font-family: 'Varela', sans-serif;
    font-size: 5rem;
    /* color:#45d1a0; */
    

}

.nav-links {
    margin-left: auto;
    margin-right: 5%;
}

.nav ul{
    font-family: 'Varela', sans-serif;
    font-size: 18px;
    display: flex;
    margin-top: auto;
    text-align: center;

}

.nav li{
    list-style: none;
    display: flex;
    padding: 0 2.5rem;
    z-index: 2;
    opacity: 1;
}

.nav a{
    text-decoration: none;
    color: white;
}

.nav a:hover{
    text-decoration: none;
    /* color: #49a5f5; */
    color: #45d1a0;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    /* color: #49a5f5; */
    color: #45d1a0;
}

.sign-up-form-hidden {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15%;
    transform: translateY(75%);
    opacity: 1;
    z-index: 2;
    /* transition: ease-in-out;
    transition-duration: 5s; */
    visibility: hidden;
    text-align: center;
}

.sign-up-form-display {
    transform: translateY(0%);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15%;
    opacity: 1;
    z-index: 2;
    transition: ease-in-out;
    transition-duration: .5s;
    visibility: visible;
    display: block;

}

.landing-info {
    /* background-color: blue; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    opacity: 1;
    z-index: 2;
    text-align: center;

}

.landing-info-up {
    margin-left: auto;
    margin-right: auto;
    /* margin-top: -15%; */
    opacity: 1;
    z-index: 2;
    transform: translateY(-200%);
    opacity: 0;
    transition: ease-in-out;
    transition-duration: .5s;
    position: relative;

}

.landing {
    /* background-image: url('/images/landing-background.jpg'); */
    background-image: url('/images/green-nebula2.jpg'); 
    opacity: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* z-index: 1; */
}

.landing-signup {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.15);
}

#signup {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    padding: 25px 65px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 25px;
    background: #2dc28e;
    border: 4px solid #2dc28e;
    /* background: hsla(174, 83%, 68%, 1);

    background: linear-gradient(135deg, hsla(174, 83%, 68%, 1) 9%, hsla(207, 90%, 72%, 1) 56%, hsla(251, 100%, 50%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(174, 83%, 68%, 1) 9%, hsla(207, 90%, 72%, 1) 56%, hsla(251, 100%, 50%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(174, 83%, 68%, 1) 9%, hsla(207, 90%, 72%, 1) 56%, hsla(251, 100%, 50%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#69F1E3", endColorstr="#78BEF8", GradientType=1 ); */
}

#signup a {
    color: white;
    text-decoration: none;
}

#signup:hover {
    cursor: pointer;
    background: #202020;
    border: 4px solid #2dc28e;
    /* background: hsla(174, 83%, 68%, 1);
    background: linear-gradient(135deg, hsla(174, 83%, 68%, 1) 30%, hsla(207, 90%, 72%, 1) 74%, hsla(251, 100%, 50%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(174, 83%, 68%, 1) 30%, hsla(207, 90%, 72%, 1) 74%, hsla(251, 100%, 50%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(174, 83%, 68%, 1) 30%, hsla(207, 90%, 72%, 1) 74%, hsla(251, 100%, 50%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#69F1E3", endColorstr="#78BEF8", GradientType=1 ); */
}

#signup-bottom {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    text-align: center;
    padding: 25px 65px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 25px;
    background: rgb(19, 19, 19);
    border: 4px solid #2dc28e;
    /* background: hsla(174, 83%, 68%, 1);

    background: linear-gradient(135deg, hsla(174, 83%, 68%, 1) 9%, hsla(207, 90%, 72%, 1) 56%, hsla(251, 100%, 50%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(174, 83%, 68%, 1) 9%, hsla(207, 90%, 72%, 1) 56%, hsla(251, 100%, 50%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(174, 83%, 68%, 1) 9%, hsla(207, 90%, 72%, 1) 56%, hsla(251, 100%, 50%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#69F1E3", endColorstr="#78BEF8", GradientType=1 ); */
}

#signup-bottom a {
    color: white;
    text-decoration: none;
}

#signup-bottom:hover {
    cursor: pointer;
    background: #45d1a0;
    border: 4px solid white;
    /* background: hsla(174, 83%, 68%, 1);
    background: linear-gradient(135deg, hsla(174, 83%, 68%, 1) 30%, hsla(207, 90%, 72%, 1) 74%, hsla(251, 100%, 50%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(174, 83%, 68%, 1) 30%, hsla(207, 90%, 72%, 1) 74%, hsla(251, 100%, 50%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(174, 83%, 68%, 1) 30%, hsla(207, 90%, 72%, 1) 74%, hsla(251, 100%, 50%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#69F1E3", endColorstr="#78BEF8", GradientType=1 ); */
}

.sub-nav{
    margin: auto;

    margin-top: 7%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.sub-nav ul {
    margin: auto;
    display: flex;

}

.sub-nav li{
    display: flex;
    padding: 1rem 5rem;

}



.sub-nav a {
    text-decoration: none;
    color: #2dc28e;
    font-weight: bold;
    margin-top: 5%;
}

.sub-nav a:hover{
    color: white;
    

}

.section2 {
    
    width: 100%;
    color: white;
    z-index: 4;
    margin-top: 15%;
    
}

.section3 {
    /* height: 90vh; */
    width: 100%;
    color: white;
    z-index: 4;
    /* margin-bottom: 20%; */
    
}

.section3 img{
    height: 700px;
    width: auto;
    /* margin-top: 10%; */
}


.card-info {
    width: 60%;
    opacity: 0; 
    line-height: 2rem;
    margin-right: 1rem;
    transform: translateY(5rem);
    transition: 0.5s all ease-in-out;
}

.card-info hr{
    border: 1px solid rgb(65, 65, 65);
    margin: 1rem 0;
}

.card-info-appear {
    opacity: 1;
    transform: translateY(0px);
}

/* .card-img{
    margin-top: 10%;
    background-color:  rgb(65, 65, 65);
    border: 1rem solid  rgb(65, 65, 65); 
    border-radius: 10px;
} */

.card-img{
    margin-top: 10%;
    opacity: 0;
    background-color:  rgb(65, 65, 65);
    border: 1rem solid  rgb(65, 65, 65); 
    border-radius: 10px;
    transform: translateX(10rem);
    transition: 0.5s all ease-in-out;
}

.card-img-appear {
    opacity: 1;
    transform: translateX(0px);
}

.section4 {
    margin: auto;
    width: 100%;
    height: 45vh;
    display: block;
    align-items: center;


}

.section4-header{
    width: auto;
    text-align: center;
    margin-top: 10%;


}

.investors {
    width: 50%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    transform: translateX(-2%);
    /* background-color: blue; */
}

.section4 img{
    height: 200px;
    width: auto;
    margin: auto;


}

.section4 img{
    margin-left: auto;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    /* min-width: 100%;
    min-height: 100%; */
    height: 100vh;
    width: 100vw;
    z-index: -1;
    object-fit: fill;
  }

.content-wrap{
    padding-bottom: 30vh;
    bottom: 0;
}

.footer{
    background-color: #0a0a0a;
    /* margin-top: 10%; */
    height: 30vh;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    /* margin-bottom: -10%; */
}

.not-found {
    height: 50vh;
    margin-top: 15%;
    margin-left: 25%;
}

.not-found h1{
    font-size: 4rem;
}

.option-select {
    min-height: 70vh;
    margin-top: 15%;
    margin-left: 30%;

}

.site-map {
    width: 20%;
    height: 70%;
    /* background: black; */
    align-items: center;
    margin-left: 10%;

}

.site-map h4{
    color: rgb(155, 155, 155);
}

.site-map ul{
    font-family: 'Varela', sans-serif;
    font-size: 18px;
    /* display: flex; */
    margin: auto;
    text-align: center;
    align-items: center;
    padding-bottom: 1rem;

}

.site-map li{
    margin: auto;
    list-style: none;
    display: flex;
    /* padding: 0 1rem; */
    z-index: 2;
    opacity: 1;
}

/* .site-map a{
    text-decoration: none;
    color: white;
} */

/* .site-map a:hover{
    text-decoration: none;
    color: #2dc28e;
} */

.site-map hr {
    width: 50%;
    border: 1px solid rgb(65, 65, 65);
    margin-bottom: 1rem; 
}

.social-media {
    width: 20%;
    height: 70%;
    /* background: black; */
    align-items: center;
    margin-left: 10%;

}


.social-media ul{
    font-family: 'Varela', sans-serif;
    font-size: 18px;
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    padding-bottom: 1rem;
    justify-content: left;

}

.social-media li{
    margin-left: 1.5rem;
    list-style: none;
    /* display: flex; */
    /* padding: 0 1rem; */
    z-index: 2;
    opacity: 1;
}

.social-media a{
    text-decoration: none;
    color: white;
}

.social-media a:hover{
    text-decoration: none;
    color:#45d1a0;
}

.social-media hr {
    width: 50%;
    border: 1px solid rgb(65, 65, 65);
    margin-bottom: 1rem; 
}

.card {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
}

.card1 {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
}

.card3 {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    /* margin-top: 2.5%; */
    margin-bottom: 10%;
}

.card-info h2{
    color: #45d1a0;
}

#card1 {
    align-items: center;
}

.card1-text {
    width: 50%;
    opacity: 0;
    transform: translateY(10rem);
    transition: 0.5s all ease-in-out;
    line-height: 2rem;
}

.card1-text h2{
    color: #45d1a0;
}

.card1-text p {
    margin-top: 5%;
}

.card1-text-appear {
    opacity: 1;
    transform: translateY(0px);
}

.card1-img {
    opacity: 0;
    transform: translateY(-10rem);
    transition: 0.5s all ease-in-out;
}

.card1-img img{
    max-width: 75%;
    margin-left: 25%;
}

.card1-img-appear {
    opacity: 1;
    transform: translateY(0px);
}

.card2-text {
    opacity: 0;
    transform: translateY(10rem);
    transition: 0.5s all ease-in-out;
}

.card2-text h2{
    color: #45d1a0;
}

.card2-text-appear {
    opacity: 1;
    transform: translateY(0px);
}

.card2-img {
    opacity: 0;
    transform: translateY(-10rem);
    transition: 0.5s all ease-in-out;
}

.card2-img img {
    margin-right: 15%;
    max-width: 90%;
}

.card2-img-appear {
    opacity: 1;
    transform: translateY(0px);
}

@media screen and (max-width: 1280px){

    body {
        height: 100%;
        
    }


    .section4 {
        width: 100%;
        overflow: hidden;
    }

    .investors {
        width: 100%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        
        

    }

    .investors img{
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .landing-signup h3{
        size: 1 rem;
    }

    #signup-bottom {
        padding: 10px 10px;
        width: 50%;
    }

    
}

@media screen and (max-width: 768px){
    * {
        max-width: 100%;
        
    }

.landing {
    max-width: 100vw;
}

.display {

    min-height: 100vh;
    /* margin-bottom: 5%; */
    position: relative;
    
}

.card {
    margin-top: 10%;
    width: 80%;
    align-items: center;
}

.card-img {
    width: 50%;

}

.card1 {
    width: 90%;
    max-width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
}



.card-img img{
    width: 100%;
    height: 50%;
}

.card1-img-appear{
    /* margin-left: auto; */
    margin-right: auto;
    height: 90%;
    width: 90%;
}

.section1 {
    margin: auto;
    width: 100%;
    margin-top: 10%;
    max-width: 100%;
}

.section2 {
    margin: auto;
    height: auto;
    width: 95%;
    margin-bottom: 5%;
    margin-top: 10%;
    overflow: hidden;
}

.section2-info {
    width: 100%;
    margin-left: auto;
    
}

#card2 {
    width: 90%;
    margin-top: 25%;
}


.section3{
    margin: auto;
    max-width: 90%;
    margin-top: 15%;
    height: 75vh;
    overflow: hidden;
}

.card3 {
    width: 90%;
}


#myVideo {
    display: none;
    /* display: block;
    width: 100%;
    height: 50%;
    transform: translateY(-65%);
    rotate: 90deg;  */

}

.option-select {
    height: 35%;
    margin-top: 25%;
    margin-left: 25%;

}

.section4 {
    width: 90%;
    max-width: 90%;
    height: auto;
    overflow: hidden;

    
}

.investors {
    margin-top: 5%;
    margin-left: 2.5%;
    width: 100%;
    align-items: center;
    display: inline-block;
    justify-content: space-evenly;
}

.investors img{
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#signup-bottom {
    width: 25%;
    padding: 10px 10px;
}

#signup {
    width: 35%;
}

.footer {
    font-size: 1rem;
    width: 100%;
    height: 30vh;
    /* position: absolute;
    bottom: 0; */
    
}

.footer a {
    font-size: .75rem;

}

.footer li{
    font-size: .75rem;
    align-items: left;
}

.site-map {
    margin: auto;
    margin-left: 10%;
    width: 100%;
}

.social-media {
    margin: auto;
    margin-right: 10%;
    width: 100%;
}

.nav {
    width: 100%;
    font-size: .5rem;
}

/* .nav-content {
    width: 95%;
    max-width: 100vw;
} */

.nav a {
    font-size: 1rem;
}

.nav-prices {
    width: 100%;
    margin-left: 0;
    display: none;
}

.nav-prices h3{
    font-size: 1rem;
}

.nav-links {
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}

.nav-links ul {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.nav-links li {
    margin: auto;
    text-align: center;
}


.landing {
        background-image: url('/images/green-nebula2.jpg'); 
        /* opacity: 1;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1; */
} 



    .landing-info { 
        /* background-color: black; */
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25%;
        opacity: 1;
        z-index: 2;
    
    }

    .landing-info-up {
        margin-top: -10%;
        transform: translateY(-150);
    }

    .sign-up-form-display {
        margin-top: -35%;

    }
 
    #logo {
        font-size: 3rem;
        

    }

    h1 {
        font-size: 1.5rem;
        
        

    
    }

    h2 {
        font-size: 1rem;
    }
    /* #signup {
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        text-align: center;
        padding: 25px 95px;
        border-radius: 50px;
        cursor: pointer;
        font-size: 1rem; */
        /* background: hsla(174, 83%, 68%, 1);
    
        background: linear-gradient(135deg, hsla(174, 83%, 68%, 1) 9%, hsla(207, 90%, 72%, 1) 56%, hsla(251, 100%, 50%, 1) 100%);
        background: -moz-linear-gradient(135deg, hsla(174, 83%, 68%, 1) 9%, hsla(207, 90%, 72%, 1) 56%, hsla(251, 100%, 50%, 1) 100%);
        background: -webkit-linear-gradient(135deg, hsla(174, 83%, 68%, 1) 9%, hsla(207, 90%, 72%, 1) 56%, hsla(251, 100%, 50%, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#69F1E3", endColorstr="#78BEF8", GradientType=1 ); */
    /* }  */
}

@media screen and (max-width: 500px){
    * {
        max-width: 100vw;
    }
    

    .nav{
        height: 5vh;
        max-width: 100%;
        background-color: black;
        color: white;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
        z-index: 2;
        font-size: .5rem;
    
    }
    
    .nav-content {
        width: 100%; 
        display: flex;
        justify-content: space-between;
    }

    .nav-links {
        width: 100%; 
    }

    .nav-links ul li {
        width: auto; 
        padding: 0; 
    }
    
    .nav-prices {
        display: none;
        margin-left: 5%;
        font-size: .2rem;
        color: #2dc28e;
    }
    
    .nav-prices li{
        font-size: .3rem;
    }

    .nav li{
        font-size: 1rem;
    }

    .landing {
        background-image: url('/images/landing-background.jpg');
        opacity: 1;
        width: 100%;
        height: 95vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .landing-info {
        /* background-color: black; */
        /* margin-left: -30%;
        margin-top: -15%; */
        opacity: 1;
        z-index: 2;
        text-align: center;
    
    }

    .landing-info {
        /* background-color: black; */
        margin-left: auto;
        margin-right: auto;
        margin-top: -20%;
        opacity: 1;
        z-index: 2;
    
    }

    .form-header {
        width: 100%;
    }

    #logo {
        font-size: 2rem;
    }

    #logo h1 {
        font-size: 3rem;
    }

    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: .75rem;
    }
    #signup {
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
        padding: 1rem 2rem;
        border-radius: 50px;
        cursor: pointer;
        font-size: .75rem;
        background: hsla(174, 83%, 68%, 1);
    
        background: linear-gradient(135deg, hsla(174, 83%, 68%, 1) 9%, hsla(207, 90%, 72%, 1) 56%, hsla(251, 100%, 50%, 1) 100%);
        background: -moz-linear-gradient(135deg, hsla(174, 83%, 68%, 1) 9%, hsla(207, 90%, 72%, 1) 56%, hsla(251, 100%, 50%, 1) 100%);
        background: -webkit-linear-gradient(135deg, hsla(174, 83%, 68%, 1) 9%, hsla(207, 90%, 72%, 1) 56%, hsla(251, 100%, 50%, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#69F1E3", endColorstr="#78BEF8", GradientType=1 );
    }

    .landing {
        height: 100vh;
    }

    .landing-info {
        margin-top: 25%; 
    }

    .card1 {
        display: block;
    }

    .card1-text-appear {
        width: 95%; 
    }

    .card1-img-appear {
        margin: auto;
    }

    .card1-img-appear img {
        margin: 20% auto auto;
        margin-left: 15%; 
        width: 100%; 
    }

    .display {
        max-width:100%;
        overflow: hidden;
    }

    .footer {
        font-size: .8rem;
        width: 100%;
        height: 30vh;
        /* position: absolute;
        bottom: 0; */
        
    }
    
    .footer a {
        font-size: .5rem;
        height: 20vh;
    
    }

    .content-wrap {
        height: auto; 
    }
    
    .footer li{
        font-size: .75rem;
        align-items: left;
        list-style-position: inside;
        padding: 0;
    }
    
    .site-map {
        margin: auto;
        margin-left: 10%;
        width: 100%;
        display: none;
    }
    
    .social-media {
        margin: auto;
        height: 20vh;
        padding: 0; 
        width: 100%;
        text-align: center;
    }

    .social-media ul {
        width: 90vw;
        margin: auto;
        justify-content: space-between;
        
    }

    .social-media ul li i {
        font-size: 1.5rem; 
    }
    
    #signup-bottom{
        width: 50%;
        margin-bottom: 20%; 
    }

    .section3 {
        padding-bottom: 0;
        margin: 10% auto;
        height: auto;
    }

    .form-control-signup {
        transform: translateY(-20%)
    }
}