<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/portfolio.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body> 
    <%- include('../includes/nav.ejs') %> 


</body>
<srcipt src="/js/news.js"></srcipt>
</html>